.panel-doble {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 90vh;
}

.panel-izquierdo {
  flex: 80%;
}

.panel-derecho {
  flex: 20%;
}

.pokeball {
  position: absolute;
  z-index: 0;
  width: 30%;
  opacity: .05;
  top: -45px;
  left: -45px;
  rotate: -30deg;
}